/*캘린더 헤더*/
.calendar-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /*background-color: #d1d1d1;*/
    height: 60px;
}

/*calendar*/
.calendar{
    width: 470px;
    height: 450px;
    background-color: #ffffff;
}

/*header*/
.header.row{
    display: flex;
}

/*년 월*/
.text.year{
    margin: 0 10px 0 0;
}

.todo_head_icon{
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-color: gray;
}

.month_finish_todo{
    margin-left: 10px;
    display: flex;
}

/*넘어가는 버튼*/
.button.next_month{
    display: flex;
    justify-content: space-between;
    margin-left: 270px;
    width: 50px;
}

/*day*/
.col{
    display: inline-block;
    padding: 20px 17px 0 0;
    width: 50px;
    text-align: center;
}

.finishTodoListNum{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-color: #D4D8DB;
}

.day{
    margin-top: 10px;
}

.day.selected{  /*위 아래가 서로 margin 이 달라지는 현상...*/
    color: white;
    margin: 0px 12px;
    padding: 3px 0;
    border-radius: 20px;
    background-color: black;
}

/*.day.valid{*/
/*    background-color: gray;*/
/*}*/

.finishTodoListNum{
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.finishTodo{  /*완료된 todo 스타일*/
    width: 27px;
    height: 27px;
    background-color: black;
}
