.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    /*background-color: #d1d1d1;*/
    height: 60px;
}

.diary_button {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 2.3rem;
}

.diary_button_icon {
    width: 100%;
}

/*다이어리 작성 모달 관련*/
.diary_modal { /*배경*/
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.diary_modal-content { /*content*/
    font-size: 1.2rem;
    width: 800px;
    height: 700px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.diary_modal_content-head {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 30px 0px;
}

.diary_modal_close_button,
.diary_modal_finish_button {
    padding: 5px;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
}

.diary_modal_title {
    margin: 0px;
    padding-top: 10px;
    font-size: 1.2rem;
}

.diary_modal_emoji {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.emoji_button {
    width: 60px;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    position: absolute;
}

.day_emoji_button{
    background-color: transparent;
    border: none;
    font-size: 3.2rem;
    padding-right: 25px;
}

.diary_modal_day {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 0.9rem;
}

.diary_modal_body {
    width: 100%;
    margin-top: 30px;
    text-align: left;
    height: 430px;
    overflow: auto;
    overflow-x: hidden;
}


.diary_modal_input_diary {
    width: 100%;
    height: 20%;
    font-size: 1.1rem;
    border: none;
    outline: none;
}

.diary_modal_footer {
    text-align: left;
    margin-top: 15px;
    width: 100%;
    height: 50px;
}

/*이미지 관련*/
.get_img_button {
    height: 45px;
    width: 45px;
    border-radius: 30px;
}

.diary_input_img#file {
    display: none;
}

.diary_input_img_label {
    all: unset;
    padding: 10px 3px;
    background-color: #EAE8E7;
    border-radius: 20px;
}

.diary_modal_input_img {
    display: flex;
    justify-content: space-between;
}

.upload_img {
    width: 100%;
}

.upload_img_icon {
    margin-bottom: -13px;
    width: 35px;
}

.img_deleted_button {
    height: 30px;
    width: 30px;
    color: white;
    background-color: #c8c8c8;
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
}

/*일기 내용 모달 관련*/
.diary_detail_modal {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.diary_detail_modal-content {
    font-size: 1.2rem;
    width: 400px;
    height: 320px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.diary_detail_modal_content-head {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 30px 0px;
}

.diary_detail_close_button,
.diary_detail_change_button {
    padding: 5px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}

.diary_detail_modal_emoji {
    height: 50px;
}

.diary_detail_modal_detail {
    height: 52%;
    margin-top: 20px;
    text-align: left;
    overflow: auto;
    overflow-x: hidden;
}

.diary_detail_date {
    font-size: 0.9rem;
    margin-left: 20px;
}

.diary_detail { /* +내용 길어지면 스크롤 */
    margin-top: 10px;
    font-size: 1.2rem;
}

.uploaded_img {
    width: 100%;
}

/* 일기 수정 모달 관련 */
.diary_detail_change_modal {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.diary_detail_change_modal_content {
    width: 200px;
    height: 160px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.detail_change_title {
    font-size: 0.9rem;
    margin: 5px 0;
}

.detail_change_button,
.detail_delete_button,
.diary_change_cancel_button {
    margin: 5px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
}

.diary_detail_modal_emoji{
    font-size: 2.8rem;
    padding-right: 7px;
}

/*일기 임시 저장 모달 관련*/
.diary_detail_exit_modal {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.diary_detail_exit_modal_content {
    width: 200px;
    height: 160px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.detail_exit_title {
    font-size: 0.9rem;
    margin: 5px 0;
}

.temporary_storage_button,
.detail_exit_button,
.diary_exit_cancel_button {
    margin: 5px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #F5F5F5;
}

/* 이모지 모달 관련 */
.emoji_modal { /*배경*/
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.emoji_modal-content { /*content*/
    font-size: 1.2rem;
    width: 500px;
    height: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

/*head*/
.emoji_modal_content-head {
    height: 50px;
    display: flex;
    justify-content: center;
}

.emoji_modal_title {
    margin-top: 10px;
}

/*body*/
.emoji_modal_container {
    height: 250px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    overflow: scroll;
    scrollbar-width: none;
}

.emoji_collct {
    width: 40px;
    height: 50px;
    margin: 21px;
    font-size: 2.5rem;
}

/*footer*/
.emoji_modal_footer {
    width: 100%;
    height: 50px;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.emoji_select_button {
    width: 57px;
    margin: 3px;
    border-radius: 20px;
    font-size: 1.4em;
    background-color: #F0F0F0;
    border: none;
}

.emoji_select_button:focus,
.emoji_button.active-color {
    background-color: #3B3B3B;
}

.recently_used_icon {
    margin-top: 5px;
    width: 50%;
}